.menu-idioma {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 8px;
}

.menu-idioma a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.menu-idioma a:hover {
    background-color: #f1f1f1;
}
.nav{
    flex-wrap: wrap;
    width: 8%;
    text-decoration: none; 
    color: black;
}
.icon-search{
    color: orange;
}

.flex{
    display: flex; 
}

.footer-ueb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #00231b;
    color: white;
    padding: 40px;
    font-family: Arial, sans-serif;
}
  
.footer-col {
    flex: 1;
    min-width: 280px;
    margin: 20px;
}
  
.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.footer-col p,
.footer-col li {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.4;
}
  
.footer-col ul {
    list-style: none;
    padding: 0;
}
  
.footer-col .verde {
    color: rgb(144, 255, 0);
}
  
.footer-col .hashtag {
    color: rgb(144, 255, 0);
    font-weight: bold;
}
  
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
  
.social-icons i {
    font-size: 20px;
    color: rgb(144, 255, 0);
    cursor: pointer;
}  
